body {
    background-color: #e7e7e7;
    margin: 0;
}

.search_tab {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: left;
}

.search_input {
    border: 0;
    border: 2.5px rgb(0, 0, 0) solid;
    outline: none;
    width: 620px;
    padding-left: 20px;
    font-size: 40px;
}

.search_submit {
    position: absolute;
    border: 0;
    background-color: #e7e7e7;
    padding-top: 0px;
    margin-top: 0px;
}

.search_submit>img {
    margin-top: 0px;
    width: 40px;
    height: auto;
}

.left_nav {
    width: 350px;
    height: 100%;
    background: rgb(66, 66, 66);
    position: fixed;
    top: 0;
    left: -350px;
    z-index: 1;
    transition: all .35s;
}

input[id="nav_open"] {
    position: fixed;
    display: none;
}

input[id="nav_open"]+label {
    position: fixed;
    left: 0;
    transition: all .35s;
}

input[id="nav_open"]+label>img {
    position: relative;
    width: 40px;
    height: auto;
    top: 5px;
    left: 10px;
}

input[id="nav_open"]:checked+label+div {
    left: 0;
}

input[id="nav_open"]:checked+label {
    left: 350px;
}

.left_nav>div {
    color: #949494;
    background-color: rgb(44, 44, 44);
    margin: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 100px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

.left_nav>svg>ellipse {
    position: fixed;
    fill: none;
    stroke: #e7e7e7;
    stroke-width: 2;
}

.def {
    position: absolute;
    transform: translate(-50%, 0);
    background-color: #dcdcdc;
    border-radius: 50px 50px 0 0;
    border: 1px black solid;
    border-bottom: none;
}

.info {
    position: inherit;
    background-color: #c8c8c8;
    left: 5%;
    right: 5%;
    top: 5%;
    height: 170px;
    border-radius: 100px;
    /* padding-top: 30px; */
}

.word {
    position: relative;
    top: 25px;
    font-size: 50px;
    width: 100%;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.word_name {
    margin: 0;
    font-weight: 600;
    display: inline-flex;
}

.sound {
    margin: 0;
    padding: 0px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-flex;
}

.sound>img {
    width: 50px;
    margin: 0;
    padding: 0;
}

.add_word {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px rgb(0, 0, 0) dashed;
    border-style: dashed;
    border-radius: 50px;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
}

.pron {
    top: 70px;
    font-size: 20px;
    /* position: absolute; */
    position: absolute;
}

.add_word div:nth-child(1) {
    position: absolute;
    width: 30px;
    height: 5px;
    left: 51%;
    top: 51%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 10px;
}

.add_word div:nth-child(2) {
    position: absolute;
    display: block;
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    left: 51%;
    top: 51%;
    transform: translate(-50%, -50%) rotate(90deg);
}