

.quiz_cyl {
    position: absolute;
    width: 430px;
    height: 800px;
    border-radius: 250px;
    background-color: #dcdcdc;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

.quiz_cyl>div:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_cyl>div:nth-child(1)>img {
    height: 40px;
}

.quiz_cyl>div:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.quiz_cyl>div:nth-child(2)>progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-size: auto;
    width: 200px;
    height: 10px;
}

.quiz_cyl>div:nth-child(2)>progress::-webkit-progress-bar {
    background: #949494;
    border-radius: 10px;
}

.quiz_cyl>div:nth-child(2)>progress::-webkit-progress-value {
    background: #424242;
    border-radius: 10px;
}

.quiz_progress {
    position: absolute;
    color: #424242;
    left: 50%;
    top: 23%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
}

.quiz_comment {
    position: absolute;
    color: #424242;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
}


/* .quiz_cyl>div:nth-child(2)>progress[role]:after {
    background-image: none;
}

.quiz_cyl>div:nth-child(2)>progress[role] strong {
    display: none;
} */


/* .quiz_cyl>div:nth-child(2)>progress::-webkit-progress-bar {} */

.quiz_1_problem {
    position: relative;
    top: 23%;
    font-size: 50px;
    transform: translate(0, -50%);
    color: #929292;
    font-weight: bold;
}

.quiz_1_items {
    position: inherit;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
}

.quiz_1_items>div {
    width: 150px;
    height: 45px;
    border: 2px #757575 solid;
    border-radius: 50px;
    left: 50%;
    margin-bottom: 7px;
    padding-top: 7px;
    font-size: 25px;
    color: #757575;
}

.quiz_2_problem {
    position: absolute;
    top: 48%;
    font-size: 40px;
    transform: translate(0, -50%);
    color: #929292;
    font-weight: bold;
    text-align: left;
    padding-left: 90px;
}

.quiz_2_problem>div {
    margin-bottom: 30px;
}

.quiz_2_input {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_2_input>input {
    font-size: 25px;
    width: 300px;
    height: 50px;
    padding-left: 30px;
    border-radius: 30px;
    border: 2.5px #949494 solid;
    background-color: #c9c9c9;
    color: #949494;
}

.quiz_2_input>input:focus {
    outline: 1.5px #757575 solid;
}

.quiz_2_btn {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_2_btn>button {
    font-size: 18px;
    width: auto;
    background-color: #c9c9c9;
    height: 40px;
    border: 2.5px #949494 solid;
    border-radius: 30px;
    color: #949494;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 10px;
}

.quiz_result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 350px;
    background-color: none;
    text-align: left;
    overflow: scroll;
}

.quiz_result::-webkit-scrollbar {
    display: none;
}

.quiz_result>div {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.quiz_result>div>span:nth-child(1) {}

.book_select_image {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.book_holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: #707070;
}

.book {
    width: 320px;
    height: 350px;
    background-color: #d7d7d7;
    margin: 20px;
    border-radius: 30px;
    text-align: center;
}

.book>div:nth-child(1) {
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #949494;
}

.go_for_quiz {
    position: relative;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 240px;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
}

.quiz_options {
    position: relative;
    left: 50%;
    top: 45%;
}

.quiz_option {
    transform: translate(-50%, -50%);
    width: 240px;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: bold;
}

